@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --mainRed: #8f0000;
}
* {
  padding: 0;
  margin: 0;
  font-family: "poppins";
}
.border-bottom {
  border-bottom: 5px solid #8f0000;
}
.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.res-1100 {
  width: min(100% - 20px, 1700px);
  margin-inline: auto;
}
.line-through {
  position: relative;
}
.line-through::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #bd0000e3;
  left: 0;
  height: 10%;
  z-index: +1;
  top: 50%;
}
.display-flex-center {
  display: flex;
  /* justify-content: center; */
  /* color:#bd0000bb; */
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
}

/* CATA Page */
.main-cata-page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* height: 100vh; */
  align-items: center;
  padding: 2em 0;
  padding-top: 6.4em;
  overflow: hidden;
  /* background-image: url("../public/backcata.png"); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* position: relative; */
  /* filter: brightness(0.1); */
  /* filter: grayscale(100%); */
  /* background-blend-mode: saturation; */
}
.heading-top-deal-in {
  color: white;
  text-align: center;
  padding: 1em 0;
  font-size: 2.4em;
  /* font-variant: small-caps; */
  text-transform: uppercase;
}
.back-img-1 {
  position: absolute;
  top: 0;
  /* height: ; */
  width: 100%;
  filter: brightness(0.13);
}
.sprots-wear {
  width: 38%;
  height: fit-content;
  /* background-color: aliceblue; */
  position: relative;
  text-align: center;
}
.sprots-wear::before {
  content: "SPORTS";
  position: absolute;
  top: -1em;
  z-index: +1;
  transform: translateX(-50%);

  left: 50%;
  color: white;
  font-size: 4.3em;
  font-weight: 800;
}
.sprots-wear::after {
  content: "wear.";
  position: absolute;
  bottom: 1em;
  right: 0;
  z-index: +1;
  color: white;
  font-size: 3.3em;
  font-weight: 800;
}
.sprots-wear-1 {
  width: 38%;
  height: fit-content;
  /* background-color: aliceblue; */
  position: relative;
  text-align: center;
}
.sprots-wear-1::before {
  content: "MARTIAL";
  position: absolute;
  top: -1em;
  transform: translateX(-50%);
  z-index: +1;
  left: 50%;
  color: white;
  font-size: 4.3em;
  font-weight: 800;
}
.sprots-wear-1::after {
  content: "arts.";
  position: absolute;
  bottom: 1em;
  right: 0;
  z-index: +1;
  color: white;
  font-size: 3.3em;
  font-weight: 800;
}
.image-cata {
  width: 100%;
  position: relative;
  border-radius: 50%;
  filter: saturate(0);
  /* z-index: ; */
  /* filter: grayscale(0%); */
  transition: all 500ms ease;
}
.image-cata:hover {
  filter: saturate(1);
  /* border-radius: 0; */
  transform: scale(1.041);
}
.btn-see-more {
  width: 170px;
  height: 45px;
  background-color: var(--mainRed);
  color: white;
  font-size: 0.91em;
  font-weight: 200;
  border-radius: 100px;
  margin-top: 10px;
  z-index: +11;
  /* margin-inline: auto; */
}
.main-cata-page {
  display: flex;
}
/* .main {
  position: relative;
  width: 100%;
  overflow: hidden;
} */
/* END Of CATA page */

/* SportCata CSS styling */
.heading-cata-name {
  color: none;
  font-size: 3em;
  line-height: 1em;
  margin: 1em 10px;
  float: right;
  text-align: right;
  -webkit-text-stroke: 1px var(--mainRed);
}
.main-sports-cata {
  width: 100%;
  overflow-x: hidden;
}
.main-items-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 100%; */
  /* gap: 10px; */
}
/* END Of sportsCATA page */

/* Item styling */
.main-item-card {
  /* flex-basis: 350px; */
  width: 340px;
  margin: 0 10px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.item-card-img {
  width: 100%;
  border-radius: 0px;
  /* width; */
  margin: 0;
  border-radius: 25px;

  position: relative;
  transition: all 400ms ease;
  padding: 0;
}
/* .main-item-card:hover .item-card-name { */
/* border-radius: 10px; */
/* color: black; */
/* -webkit-text-stroke: 1px rgba(255, 255, 255, 0.274); */

/* transform: translateY(calc(-1.5em - 10px)); */
/* height: 0px; */
/* display: n; */
/* } */
/* . */
.item-card-name {
  /* background-color: gray; */
  color: black;
  background-color: #545454;
  margin-top: 8px;
  /* text-align: center; */
  border-radius: 25px;
  transition: all 300ms ease;
  z-index: +10;
  /* padding: 20px 0; */
  /* background-color: #8f0000; */
  /* padding: 10px 0; */
  /* padding-top: 2px; */
  font-size: 120%;
  font-weight: 400;
  padding: 5px 0;
  text-align: center;
  color: white;
  margin-inline: center;
  width: 90%;
  /* margin: 10px 0; */
  /* margin */
  margin-bottom: 10px;
}
/* End Item styling */
/* Some link page styling */
.main-link-fitter {
  /* display: grid; */
  /* width: fit-content; */
  /* display: inline-block; */
  display: block;
}
/* End if link styling */
/* Whole responsivness of whole website project */
/* Medai Queary */
@media only screen and (max-width: 1400px) {
  .sprots-wear::after {
    /* width: 43%; */
    font-size: 2.63em;
  }
  .sprots-wear-1::after {
    /* width: 43%; */
    font-size: 2.63em;
  }
  .sprots-wear-1::before {
    font-size: 3.4em;
  }
  .sprots-wear::before {
    font-size: 3.4em;
  }
}
@media only screen and (max-width: 800px) {
  .sprots-wear {
    width: 43%;
  }
  .sprots-wear-1 {
    width: 43%;
  }
}
@media only screen and (max-width: 750px) {
  .main-item-card {
    /* flex-basis: 350px; */
    width: 43%;
    /* margin: 10px; */
  }
}
@media only screen and (max-width: 650px) {
  .main-items-cont {
    justify-content: space-between;
  }
  .main-cata-page {
    flex-direction: column;
    align-items: center;
  }
  .item-card-name {
    font-size: 90%;
    width: 100%;
  }
  .sprots-wear {
    width: 90%;
    margin-bottom: 6em;
  }
  .sprots-wear-1 {
    width: 90%;
  }
  .back-img-1 {
    width: auto;
    height: 90%;
  }
  .main-item-card {
    /* flex-basis: 350px; */
    width: 48%;
    /* margin: 0 3px; */
    margin: 1px;
    /* margin: 10px; */
  }
}
@media only screen and (max-width: 500px) {
  .main-item-card {
    /* flex-basis: 350px; */
    width: 48%;
    /* margin: 10px; */
  }
  .item-card-name {
    font-size: 82%;
  }
}
