@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --mainRed: #8f0000;
}
* {
  padding: 0;
  margin: 0;
  font-family: "poppins";
}
.border-bottom {
  border-bottom: 5px solid #8f0000;
}
.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.res-1100 {
  width: min(100% - 20px, 1700px);
  margin-inline: auto;
}
.line-through {
  position: relative;
}
.line-through::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #bd0000e3;
  left: 0;
  height: 10%;
  z-index: +1;
  top: 50%;
}
.display-flex-center {
  display: flex;
  /* justify-content: center; */
  /* color:#bd0000bb; */
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
}

/* CATA Page */
.main-cata-page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* height: 100vh; */
  align-items: center;
  padding: 2em 0;
  padding-top: 6.4em;
  overflow: hidden;
  /* background-image: url("../public/backcata.png"); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* position: relative; */
  /* filter: brightness(0.1); */
  /* filter: grayscale(100%); */
  /* background-blend-mode: saturation; */
}
.heading-top-deal-in {
  color: white;
  text-align: center;
  padding: 1em 0;
  font-size: 2.4em;
  /* font-variant: small-caps; */
  text-transform: uppercase;
}
.back-img-1 {
  position: absolute;
  top: 0;
  /* height: ; */
  width: 100%;
  filter: brightness(0.13);
}
.sprots-wear {
  width: 38%;
  height: fit-content;
  /* background-color: aliceblue; */
  position: relative;
  text-align: center;
}
.sprots-wear::before {
  content: "SPORTS";
  position: absolute;
  top: -1em;
  z-index: +1;
  transform: translateX(-50%);

  left: 50%;
  color: white;
  font-size: 4.3em;
  font-weight: 800;
}
.sprots-wear::after {
  content: "wear.";
  position: absolute;
  bottom: 1em;
  right: 0;
  z-index: +1;
  color: white;
  font-size: 3.3em;
  font-weight: 800;
}
.sprots-wear-1 {
  width: 38%;
  height: fit-content;
  /* background-color: aliceblue; */
  position: relative;
  text-align: center;
}
.sprots-wear-1::before {
  content: "MARTIAL";
  position: absolute;
  top: -1em;
  transform: translateX(-50%);
  z-index: +1;
  left: 50%;
  color: white;
  font-size: 4.3em;
  font-weight: 800;
}
.sprots-wear-1::after {
  content: "arts.";
  position: absolute;
  bottom: 1em;
  right: 0;
  z-index: +1;
  color: white;
  font-size: 3.3em;
  font-weight: 800;
}
.image-cata {
  width: 100%;
  position: relative;
  border-radius: 50%;
  filter: saturate(0);
  /* z-index: ; */
  /* filter: grayscale(0%); */
  transition: all 500ms ease;
}
.image-cata:hover {
  filter: saturate(1);
  /* border-radius: 0; */
  transform: scale(1.041);
}
.btn-see-more {
  width: 170px;
  height: 45px;
  background-color: var(--mainRed);
  color: white;
  font-size: 0.91em;
  font-weight: 200;
  border-radius: 100px;
  margin-top: 10px;
  z-index: +11;
  /* margin-inline: auto; */
}
.main-cata-page {
  display: flex;
}
/* .main {
  position: relative;
  width: 100%;
  overflow: hidden;
} */
/* END Of CATA page */

/* SportCata CSS styling */
.heading-cata-name {
  color: rgba(0, 0, 0, 0);
  font-size: 3em;
  line-height: 1em;
  margin: 1em 10px;
  float: right;
  text-align: right;
  -webkit-text-stroke: 1px white;
}
.main-sports-cata {
  width: 100%;
  overflow-x: hidden;
}
.main-items-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 100%; */
  /* gap: 10px; */
}
/* END Of sportsCATA page */

/* Item styling */
.main-item-card-1 {
  width: 100%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
}
.main-item-card {
  margin: 0 10px;
  /* flex-basis: 350px; */
  width: 340px;
}
.tag-to-number {
  position: absolute;
  top: 0;
  right: 10%;
  /* width: 40px; */
  z-index: 10;
  /* height: 50px; */
  border: 2px solid white;
  border-top: none;
  background-color: #373737;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tag-number-p {
  font-size: 120%;
  color: var(--mainRed);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  font-weight: 700;
  /* margin-top: calc(100% - 20px); */
  display: flex;
  justify-content: center;
  /* transform: translateY(50%); */
  /* align-items: start; */
}
/* .main-item-card-1:hover .item-card-img {
  transform: translateY(10px) scale(1.05);
  border-radius: 0;
} */

.item-card-img {
  width: 100%;
  border-radius: 0px;
  /* width; */
  margin: 0;

  position: relative;
  transition: all 400ms ease;
  padding: 0;
  padding-top: 10px;
}

/* .main-item-card:hover .item-card-name { */
/* border-radius: 10px; */
/* color: black; */
/* -webkit-text-stroke: 1px rgba(255, 255, 255, 0.274); */

/* transform: translateY(calc(-1.5em - 10px)); */
/* height: 0px; */
/* display: n; */
/* } */
/* . */
.item-card-name {
  /* background-color: gray; */
  color: black;
  /* background-color: #545454; */

  margin-top: 8px;
  /* text-align: center; */
  border-radius: 25px;
  transition: all 300ms ease;
  z-index: +10;
  /* padding: 20px 0; */
  /* background-color: #8f0000; */
  /* padding: 10px 0; */
  /* padding-top: 2px; */
  font-size: 120%;
  font-weight: 600;
  /* padding: 5px 0; */
  width: 90%;

  text-align: left;
  /* padding: 10px; */
  /* margin-inline: center; */

  /* margin: 10px 0; */
  /* margin: 10px; */
  /* background-color: #8f0000; */
  /* margin */
  margin-bottom: 15px;
}
/* End Item styling */
/* Some link page styling */
.main-link-fitter {
  /* display: grid; */
  /* width: fit-content; */
  /* display: inline-block; */
  display: block;
}
/* End if link styling */

/* Stying for Details page */

.main-img-para-details-section {
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;
  width: 100%;
}
.right-details-page p {
  /* background-color: #8f0000; */
  font-size: 0.8em;
  line-height: 190%;
  font-weight: 300;
}
.right-details-page {
  /* width: 49%; */
  margin-top: 40px;
}
.send-inquiry-btn {
  padding: 13px 35px;
  background-color: var(--mainRed);
  color: white;
  border: none;
  font-size: 0.8em;
  outline: none;
  cursor: pointer;
  font-weight: 300;
  margin-top: 40px;
  transition: all ease 300ms;
  border-radius: 40px;
}
.parent-cata-image {
  position: relative;
  z-index: 10;
}
.image-back-heading-cata {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  max-width: 500px;
}
.heading-cata-name {
  z-index: +10;
}
.send-inquiry-btn:hover {
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 10px 30px rgb(28, 28, 28);
}
.details-page-img {
  /* max-width: 500px; */
  border-radius: 25px;
  margin-top: 20px;
  /* width: min(400px - 10px, 400px); */
  width: 50%;
  margin-right: 20px;
  max-width: 400px;

  -webkit-box-shadow: 0px 0px 50px white;
}
.details-description-part {
  margin-top: 5em;
  padding: 50px 0;
  width: 60%;
  transform: translateX(-10px);
  color: white;
  background-color: rgb(36, 36, 36);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.details-description-para {
  line-height: 190%;
  font-weight: 200;
  font-size: 0.85em;
  margin-left: 10px;
  /* margin-right: ; */
  padding: 15px;
}
.more-btn-cnt {
  width: 100%;
  display: flex;
  justify-content: center;
}
.details-dscription-heading {
  padding: 15px;
  font-weight: 500;
  font-size: 2.2em;
  /* margin-bottom: 25px; */
}
.send-see-more-btn:hover {
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 10px 30px rgb(28, 28, 28);
}
.send-see-more-btn {
  padding: 13px 35px;
  background-color: var(--mainRed);
  color: white;
  border: none;
  font-size: 0.8em;
  outline: none;
  cursor: pointer;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: all ease 300ms;
  border-radius: 40px;
}
.main-more-cnt {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-prod-from-cata {
  margin-top: 40px;
  font-weight: 400;
  color: white;
}
.more-from-this-heading {
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
  line-height: 130%;
}

/* End of Stying for Details page */

/* Loading Page Styling */

.main-loader-loading-bar {
  position: relative;
  width: 130px;
  height: 130px;
  /* background-color: rgb(163, 108, 108); */
  border-radius: 50%;

  animation-name: spinner;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.main-loader-loading-bar::before {
  content: "";
  width: 110px;
  height: 110px;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: +1;
}
.main-loader-loading-bar::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(45deg, #ffffff00, var(--mainRed));
  top: 0;
  border-radius: 50%;

  left: 0;
}
/* Loading Page Styling Ending */

/* Styling for footer */
.news-letter {
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  color: white;
}
.btn-subs {
  background-color: var(--mainRed);
  outline: none;
  border: none;
  color: white;
  font-size: 0.7em;
  border-radius: 25px;

  padding: 5px 10px;
  margin-right: 2px;
}
.main-news-letter {
  background-color: #202020;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 10px;
  width: min(100% - 20px, 400px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.to-font-size {
  font-size: 40px;
  font-weight: 200;
  margin-left: 2px;
}
.input-newsletter {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  border-bottom: 2px solid white;
}
.heading-for-newsletter {
  font-size: 0.95em;
  font-weight: 300;
}
.mainFooter {
  padding: 40px 0;
  background-color: #4a4a4a33;
}
.logo-footer {
  width: 170px;
}
.logo-linkers {
  width: min(100% - 10px, 350px);
}
.martialArts-footer {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
}
.main-footer-linker-text {
  font-size: 0.8em;
  font-weight: 200;
  /* text-decoration: underline; */
}
.cata-flex-footer {
  margin-top: 2em;
  width: 100%;
  display: flex;
  /* text-align: center; */
  justify-content: space-between;
}
.heading-linker-footer {
  font-size: 1em;
  font-weight: 600;
  color: white;
}
.main-footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.contact-info {
  margin-top: 50px;
  color: white;
}
.contact {
  display: flex;
  align-items: center;
}
.font-light-200 {
  font-weight: 200;
}
.contact-footer-heading {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 10px;
}
.details-para-footer-contact {
  font-size: 0.8em;
  margin-left: 4px;
  font-weight: 200;
}
.cc-para-footer {
  text-align: center;
  color: white;
  margin-top: 40px;
  font-weight: 200;
  font-size: 0.8em;
}
/* End of styling for footer */

/* Whole responsivness of whole website project */
/* Medai Queary */
@media only screen and (max-width: 1400px) {
  .sprots-wear::after {
    /* width: 43%; */
    font-size: 2.63em;
  }
  .sprots-wear-1::after {
    /* width: 43%; */
    font-size: 2.63em;
  }
  .sprots-wear-1::before {
    font-size: 3.4em;
  }
  .sprots-wear::before {
    font-size: 3.4em;
  }
}
@media only screen and (max-width: 800px) {
  .sprots-wear {
    width: 43%;
  }
  .main-img-para-details-section {
    /* flex-direction: column; */
  }
  .sprots-wear-1 {
    width: 43%;
  }
}
@media only screen and (max-width: 750px) {
  .details-description-part {
    width: 100%;
  }
  .main-item-card {
    /* flex-basis: 350px; */
    width: 43%;
    /* margin: 10px; */
  }
}
@media only screen and (max-width: 670px) {
  .details-page-img {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .right-details-page {
    width: 100%;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 650px) {
  .main-items-cont {
    justify-content: space-between;
  }
  .main-cata-page {
    flex-direction: column;
    align-items: center;
  }
  .item-card-name {
    font-size: 90%;
    width: 95%;
  }
  .sprots-wear {
    width: 90%;
    margin-bottom: 6em;
  }
  .sprots-wear-1 {
    width: 90%;
  }
  .back-img-1 {
    width: auto;
    height: 90%;
  }
  .main-item-card {
    /* flex-basis: 350px; */
    width: 48%;
    /* margin: 0 3px; */
    margin: 3px;
    /* margin: 10px; */
  }
  /* .main-item-card-1{
    
  } */
}
@media only screen and (max-width: 500px) {
  .main-item-card {
    /* flex-basis: 350px; */
    width: 48%;
    /* margin: 10px; */
  }
  .item-card-name {
    font-size: 82%;
  }
}

/* Animations */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
